  
 <div class="hero"> 
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>COVID-19 is here!</h1>
    <br />
    <h2>Extra extra, swipe all about it</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success'%>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Daily Updates</h3>
    <br />
    <p>Choose from any number of sources to learn yourself up on this topic</p>
  </div>

   <div class="col-12 col-sm">
    <h3>Celebrities vs COVID-19</h3>
    <br />
    <p>See which of your favorite celebrities have tested positive </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Our Community</h3>
    <br />
    <p>Get in touch with other like-minded folks</p>
  </div>
</div>