  
 <div class="hero"> 
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>COVID-19 is here!</h1>
    <br />
    <h2>Extra extra, swipe all about it</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success'%>
    <br /><br />
  </div>
</div>